{erl_opts, []}.
{deps, [
	{edb, {git, "git://github.com/BorjaEst/edb.git", {branch, "master"}}}
	
]}.

{ shell, [
	% {config, [{config, "config/sys.config"}]},
	{apps, [enn]}
]}.

{profiles, [
	{prod, [{relx, [{dev_mode, false},
	                {include_erts, true}]}]
	},
	{test, [
		{deps, []},
		{erl_opts, [debug_info, {d, debug_mode}]}
	]}]
}.
