[
  {enn, []},
  {kernel, [
    {logger_level, all},
    {logger, [              
      %% Console logger
      {handler, default, logger_std_h, #{
        level => error
      }},
      %% Disk logger for debug
      {handler, disk_debug, logger_disk_log_h, #{
        level     => debug,
        formatter => {logger_formatter, #{single_line => false}},
        config    => #{
          file         => "logs/debug.log",
          max_no_bytes => 20971520} % 1 x 20mb
       }}
    ]}
  ]}
].