[
  {enn, []},
  {kernel, [
    {logger_level, all}, 
    {logger, [
      %% Console logger
      {handler, default, logger_std_h, #{
        level     => warning,
        formatter => {logger_formatter, #{single_line => false}}
      }},
      %% Disk logger for errors
      {handler, disk_errors, logger_disk_log_h,#{
        level     => error,
        formatter => {logger_formatter, #{single_line => true}},
        config    => #{
           file         => "logs/error.log",
           type         => wrap,
           max_no_files => 10,
           max_no_bytes => 52428800} % 10 x 5mb
       }},
      %% Disk logger for info
      {handler, disk_info, logger_disk_log_h,#{
        level     => info,
        formatter => {logger_formatter, #{single_line => true}},
        config    => #{
           file         => "logs/info.log",
           type         => wrap,
           max_no_files => 10,
           max_no_bytes => 52428800} % 10 x 5mb
       }}
    ]}
  ]}
].