[
  {enn, []},
  {kernel, [
    {logger_level, info},
    {logger, [
      %% Console logger
      {handler, default, logger_std_h, #{}},
      %% Disk logger for errors
      {handler, disk_errors, logger_disk_log_h,#{
        level     => error,
        formatter => {logger_formatter, #{single_line => true}},
        config    => #{
           file         => "logs/error.log",
           type         => wrap,
           max_no_files => 10,
           max_no_bytes => 52428800} % 10 x 5mb
       }}
    ]}
  ]}
].